@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

:root {
}

html {
  font-family: 'DM-sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}
